# Ignore Yarn PnP files
.pnp.*
.yarn/*

# Ignore Yarn lockfile
yarn.lock

# Ignore the "node_modules" directory
/node_modules

# Ignore build artifacts
/build

# Ignore environment-specific files
.env
.env.local
.env.*.local
.env.test
.env.production
.env.development

# Ignore editor and system files
*.log
*.swp
.DS_Store
.idea/
.vscode/

complicated-example/*